{% url 'home' as home_url %}
{% url 'products:list' as shop_url %}
{% url 'about' as about_url %}
{% url 'contact' as contact_url %}
{% url 'accounts:login' as login_url %}
{% url 'accounts:logout' as logout_url %}
{% url 'accounts:register' as register_url %}
{% url 'cart:home' as cart_url %}


<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ home_url }}">{{ brand_name }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.path == shop_url %}active{% endif %}">
      <a class="nav-link" href="{{ shop_url }}">Shop</a>
      </li>

    	<li class="nav-item {% if request.path == about_url %}active{% endif %}">
			<a class="nav-link" href="{{ about_url }}">About</a>
      </li>

      <li class="nav-item {% if request.path == contact_url %}active{% endif %}">
        <a class="nav-link" href="{{ contact_url }}">Contact</a>
      </li>

      {% if request.user.is_authenticated %}
  			<li class="nav-item {% if request.path == logout_url %}active{% endif %}">
  				<a class="nav-link" href="{{ logout_url }}">Logout</a>
  			</li>
	  	{% else %}
	  		<li class="nav-item {% if request.path == register_url %}active{% endif %}">
		        <a class="nav-link" href="{{ register_url }}">Register</a>
		    </li>
	   		<li class="nav-item {% if request.path == login_url %}active{% endif %}">
		        <a class="nav-link" href="{{ login_url }}">Login</a>
		    </li>
		  {% endif %}

      <li class="nav-item {% if request.path == cart_url %}active{% endif %}">
          <a class="nav-link" href="{{ cart_url }}"><span class='navbar-cart-count'>{{ request.session.cart_items }}</span> <i class="fa fa-shopping-cart"></i></a>
      </li>
      
    </ul>

    {% include "search/snippets/search_form.html" %}
  </div>
</nav>